.error-summary {
  border: 5px solid $red;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: .5em 1.5em 1.5em;
}

.error-summary__item a {
  color: $red;
  font-weight: bold;
  text-decoration: underline;
}
