%heading {
  font-weight: 600;
  text-transform: none;
  margin: .5em 0 .75em 0;
}

h1,
.heading-xlarge {
  @extend %heading;
  font-size: 3em;
}

h2,
.heading-large {
  @extend %heading;
  font-size: 2em;
  margin: 1em 0 .75em 0;
}

h3,
.heading-medium {
  @extend %heading;
  font-size: 1.5em;
  margin: .5em 0 1em 0;
}

h4,
.heading-small {
  @extend %heading;
  font-size: 1em;
  margin: .5em 0 1em 0;
}
