<a class="back-link" href="/">Back</a>

<h1 class="heading-medium">What is the age of the research participant?</h1>
<div class="main-content">
  <%= form_tag do %>
    <%=
        vertical_radio_list :age,
          {
            under12: 'Under 12 years old',
            '12to18' => '12 to 18 years old',
            over18dr: 'Over 18 years old but unable to sufficiently understand the consent process',
            over18: 'Over 18 years old',
          }
    %>

    <p class="button-bar">
      <button class="button">Continue</button>
      <a class="button button--secondary" href="/">Cancel</a>
    </p>
  <% end %>
</div>
