<h1 class="visually-hidden">Research methods</h1>

<div class="main-content">
  <%= form_tag do %>
    <%=
      checkbox_group_vertical :methods,
        'Research session recording methods',
        {
          video: 'Video recording',
          audio: 'Audio recording',
          written: 'Written',
        }
    %>

    <p class="button-bar">
      <%= button_tag('Continue', type: :submit, class: 'button') %>
      <%= link_to 'Cancel', root_path, class: 'button button--secondary' %>
    </p>
  <% end %>
</div>
