<h1 class="heading-xlarge">Build a consent form for design research</h1>
<p class="main-content text-lede">
  Build a customised consent form for your research project by providing key information
  that this service will use to automatically populate a PDF consent form for you to use
  with research participants.
</p>
<p><a class="button" href="/start">Create new form</a></p>
