{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "mount": false
  }
}
