{
  "parser": "babel-eslint",
  "plugins": ["import", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "mount": false
  },
}
