// sass-lint:disable no-ids

body {
  .button,
  .screen-only,
  #global-footer__release,
  #_hj_feedback_container {
    display: none;
  }
}

.print-area {
  page-break-after: always;
}

section,
p {
  page-break-inside: avoid;
}

.editable,
.definition-list a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: Verdana;
  font-size: 16px;
}

h1,
.page-heading {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

p,
.bullet-point-list > *,
.numbered-list > *,
.definition-list dt,
.definition-list dd {
  font-size: 16px;
}

.editable {
  background: none;
  padding: 0;
}
