/** @define PreviewInformation; */

.PreviewInformation {
  display: grid;
  grid-gap: 2rem;
}

.PreviewInformation-section {
  display: grid;
  grid-gap: 1rem;
}

@media print {
  .PreviewInformation {
    display: none;
  }
}
