@import "barnardos/colours";
@import "barnardos/vars";

.button {
  -webkit-appearance: none;
  background-color: $primary;
  border: 2px solid $primary;
  border-radius: 4px;
  color: $white;
  display: block;
  font-family: $font-family;
  font-size: 16px;
  margin: 0 0 8px;
  outline: 1px solid transparent;
  padding: 17px 40px;
  text-align: center;
  width: 100%;
  line-height: 24px;

  &:visited,
  &:link {
    color: $white;
    text-decoration: none;
  }

  @media (min-width: $tablet) {
    display: inline-block;
    font-size: 18px;
    margin: 0 1em 0 0;
    padding: 17px 40px;
    width: auto;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $primary-select;
      border-color: $primary-select;
    }
  }
}

.button--secondary {
  background-color: $white;
  border: 2px solid $grey-dark;
  color: $grey-dark;

  &:visited,
  &:link {
    color: $grey-dark;
    text-decoration: none;
  }

  &:active {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color: $white;
  }

  @media (min-width: $tablet) {
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $grey-medium;
      border-color: $grey-dark;
      color: $grey-dark;
    }
  }
}

.button--small {
  padding: 8px;
}

.button--green {
  background-color: $green;
  border-color: $green;

  &:hover,
  &:focus {
    background-color: $primary;
    border-color: $primary;
  }
}

.button--no-margin {
  margin: 0;
}

.button--share {
  background-image: image-url("share");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 22px 22px;
  padding: 8px calc(22px + 8px * 2) 8px 8px;
  margin: 0;
}

.button--copy {
  background-image: image-url("copy");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 22px 22px;
  padding: 8px calc(22px + 8px * 2) 8px 8px;
  margin: 0;
}

.button--add {
  background-image: image-url("add");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 22px 22px;
  padding: 8px calc(22px + 8px * 2) 8px 8px;
  margin: 0;
}

.button--flush {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-bar {
  display: block;
  margin: (4 * $gutter) 0;
}
