$black: #1d1d1b;
$white: #fff;
$green: #8DC63F;
$lime-green: #D5E04E;
$orange: #F99D27;
$pink: #EC008C;
$teal: #00A2AC;
$purple: #781D7E;

$error-colour: #d0011b;
$error-background: #f7e9ea;
$secondary-text: #331;
$primary-colour: $green;
$focus-background: #f8f8f8;
$border: #8e8e8d;

$grey-dark: #9b9b9b;
$grey-medium: #ddd;

$primary: #49671e;
$primary-select: #2e4113;
