$black: #1d1d1b;
$white: #fff;
$green: #8dc63f;
$lime-green: #d5e04e;
$orange: #f99d27;
$pink: #ec008c;
$teal: #00a2ac;
$purple: #781d7e;

$error-colour: #d0011b;
$error-background: #f7e9ea;
$secondary-text: #331;
$primary-colour: $green;
$focus-background: #ddd;
$border: #8e8e8d;

$grey-dark: #9b9b9b;
$grey-medium: #ddd;

$primary: #49671e;
$primary-select: #2e4113;

$highlight-background-colour: #f7ea99;
