$black: #1d1d1b;
$white: #fff;
$green: #8DC63F;
$lime-green: #D5E04E;
$orange: #F99D27;
$pink: #EC008C;
$teal: #00A2AC;
$purple: #781D7E;

$error-colour: #d0011b;
$error-background: rgba(184, 36, 46, 0.1);
$secondary-text: #331;
$primary-colour: $green;
$focus-background: #f8f8f8;
$border: #8e8e8d;
