// sass-lint:disable no-ids
@import "barnardos/colours";
@import "barnardos/vars";

#global-header {

  margin: $gutter auto;
  max-width: $max-container-width;
  width: 100%;

  > * {
    width: 100%;

    @media (min-width: $tablet) {
      display: inline-block;
      width: 50%;
    }
  }

}

#global-header__logo {
  margin-left: $gutter;
}

#global-header__menu {
  margin-right: $gutter;
}

#global-header-bar {
  background: $primary-colour;
  height: $gutter / 2;
}

#main {
  margin: $gutter auto;
  padding: 0 $gutter;
  width: 100%;
  max-width: $max-container-width;
}

#global-footer__release {
  position: absolute;
  background-color: white;
  right: 0;
  bottom: 0;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-top-left-radius: 3px;
  padding: 3px ($gutter / 2) 5px ($gutter / 2);

  > label {
    font-size: 80%;
    color: $black;
  }
}

#content {
  margin: 0 auto 0 0;
  max-width: $max-content-width;
}
