@import "barnardos/colours";

.print-link {
  background-image: image-url("printer-tool");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px 30px;
  padding: 10px 45px 10px 0;
  color: $black;
  float: right;
  line-height: 56px;
}
