@import "barnardos/colours";

.print-section {
  @media (min-width: $tablet) {
    text-align: right;
    padding-right: 5%;
  }

  &__select {
    font-size: 1rem;
    width: 100%;
    display: block;

    @media (min-width: $tablet) {
      width: auto;
    }
  }

  &__submit {
    background-image: image-url("printer-tool");
    background-repeat: no-repeat;
    background-position: right $gutter center;
    background-size: 22px 22px;
    padding: $gutter (22px + $gutter * 2);
    margin: 16px 0 0 0;

    @media (min-width: $tablet) {
      padding-left: $gutter;
      margin: 0 0 0 16px;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
