@import "barnardos/vars";
@import "barnardos/colours";

$progress-indicator-color-active: #e2f2ce;

.progress {
  margin: ($gutter * 2) ($gutter / 2) ($gutter * 4);
  max-width: $max-content-width;

  @media (min-width: $tablet) {
    margin: ($gutter * 2) 0;
    padding-bottom: $gutter * 3;
    padding-left: 30px;
  }
}

.progress-bar {
  z-index: 1;
  position: relative;
  @media (min-width: $tablet) {
    display: table;
    width: 100%;
  }
}

.progress__stage {
  font-size: 14px;
  position: relative;
  border-color: $grey-medium;
  border-width: 0 0 0 2px;
  border-style: solid;

  @media (min-width: $tablet) {
    display: table-cell;
    border-width: 2px 0 0;
  }

  &::before {
    position: absolute;
    left: -8px;
    width: 14px;
    height: 14px;
    content: "";
    border-radius: 20px;
    background-color: $white;
    border: 2px solid $grey-medium;
    outline: 2px solid $white;
    display: block;
    z-index: 30;

    @media (min-width: $tablet) {
      top: -8px;
    }
  }

  &.is-complete {
    border-color: $primary-colour;

    &::before {
      background-color: $progress-indicator-color-active;
      border-color: $progress-indicator-color-active;
    }
  }

  &.is-active {
    font-weight: 600;

    &::before {
      background-color: $primary-colour;
      border-color: $primary-colour;
    }
  }

  &:last-child {
    border-color: transparent;
    width: 50px;
  }
}

.progress__stage-title {
  display: block;
  padding: 0 0 $gutter $gutter;

  @media (min-width: $tablet) {
    position: absolute;
    left: -50px;
    width: 100px;
    text-align: center;
    padding: $gutter 0 0;
  }
}
