$preview-section-background-colour: #f5f5f5;
$preview-highlight-background-colour: #ffe4b5;

.reactive-preview {
  position: relative;
}

.reactive-preview__section {
  background: $preview-section-background-colour;
  padding: 16px;
}

.reactive-preview__section:not(:first-child) {
  margin-top: 8px;
}

.reactive-preview__heading {
  font-size: 23px;
  line-height: 28px;
  margin-top: 0;
}

.reactive-preview__highlight {
  background: $preview-highlight-background-colour;
  word-break: break-word;
}

.reactive-preview__highlight:empty {
  display: inline-block;
  min-height: 22px;
  min-width: 32px;
  vertical-align: text-bottom;
}

