@import "barnardos/colours";
@import "barnardos/vars";

.split-link {
  display: block;

  > * {
    background: $grey-medium;
    border-radius: 4px;
    display: block;
    margin: $gutter 0;
    padding: $gutter $gutter * 4;
    text-align: center;
    text-decoration: none;
    width: 100%;

    a:visited,
    a:link {
      text-decoration: none;
    }

    @media (min-width: $tablet) {
      box-sizing: border-box;
      float: left;
      margin: 0 1%;
      width: 46%;
    }
  }

  > .active {
    background: $primary;

    a {
      color: $white;
    }
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
