@import "barnardos/colours";
@import "barnardos/vars";

$error-icon-size: 22px;

.textarea {
  margin: $gutter 0 $gutter (-$gutter / 2);
  max-width: $max-form-control-width;
  padding: ($gutter / 2) ($gutter / 2) $gutter;
  position: relative;
}

.textarea.has-focus {
  background: $focus-background;
  border-radius: $corner-radius;
}

.textarea.has-error,
.textarea.has-focus.textarea.has-error {
  background: $error-background;
}

.textarea__label {
  display: block;
  color: $black;
  font-weight: normal;
  margin-top: $gutter / 2;
  position: relative;

  .has-error > & {
    position: relative;
    padding-right: ($error-icon-size + $gutter + $gutter / 2);

    &::after {
      content: "!";
      position: absolute;
      right: $gutter;
      top: -2px;
      width: $error-icon-size;
      height: $error-icon-size;
      padding: 5px;
      border: 1px solid $error-colour;
      border-radius: 100%;
      box-sizing: border-box;
      color: $error-colour;
      line-height: .65;
      font-weight: bold;
      text-align: center;
    }
  }
}

.textarea__input {
  border: solid 1px $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $black;
  display: block;
  font-family: $font-family;
  font-size: $base-font-size;
  margin-top: $gutter / 2;
  outline: none;
  padding: $gutter / 2;
  width: 100%;
}

.textarea.has-error .textarea__input {
  border: 1px solid $error-colour;
}

.textarea__hint {
  color: $secondary-text;
  display: block;
  font-family: $font-family;
  font-size: $base-font-size;
  line-height: 24px;
  margin-top: $gutter / 2;
}

.textarea__error {
  margin-top: $gutter / 2;
}
