@import "barnardos/colours";
@import "barnardos/vars";

.textarea {
  margin: $gutter 0 $gutter (-$gutter / 2);
  max-width: $max-form-control-width;
  padding: $gutter / 2;
  position: relative;
}

.textarea.has-focus {
  background: $focus-background;
  border-radius: $corner-radius;
}

.textarea.has-error,
.textarea.has-focus.textarea.has-error {
  background: $error-background;
}

.textarea__label {
  display: block;
  color: $black;
  font-weight: normal;
  margin-top: $gutter / 2;

  .has-error &::after {
    content: "!";
    border: 2px solid $error-colour;
    border-radius: 100%;
    box-sizing: border-box;
    color: $error-colour;
    height: 1.5em;
    line-height: .75;
    padding: 5px;
    position: absolute;
    right: $gutter;
    text-align: center;
    top: $gutter;
    width: 1.5em;
  }
}

.textarea__input {
  border: solid 1px $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $black;
  display: block;
  font-family: $font-family;
  font-size: $base-font-size;
  margin-top: $gutter / 2;
  outline: none;
  padding: $gutter / 2;
  width: 100%;
}

.textarea.has-error .textarea__input {
  border: 1px solid $error-colour;
}

.textarea__hint {
  color: $secondary-text;
  display: block;
  font-family: $font-family;
  font-size: $base-font-size;
  line-height: 24px;
  margin-top: $gutter / 2;
}

.textarea__error {
  margin-top: $gutter / 2;
}
