@import "colours";
@import "vars";

.textfield {
  margin: $gutter 0 0 (-$gutter/2);
  padding: $gutter/2;
}

.textfield.has-focus {
  background: $focus-background;
  border-radius: $corner-radius;
}

.textfield.has-error,
.textfield.has-focus.textfield.has-error
{
  background: $error-background;
}

.textfield__label {
  display: block;
  font-weight: normal;
  color: $black;
  margin-top: $gutter/2;
}

.textfield.has-error .textfield__label {
  color: $error-colour;
}

.textfield__input {
  display: block;
  padding: $gutter/2;
  font-size: $base-font-size;
  width: 100%;
  box-sizing: border-box;
  margin-top: $gutter/2;
  color: $black;
  border: solid 1px $border;
  border-radius: $border-radius;
  outline: none;
}

.textfield.has-error .textfield__input {
  border: 1px solid $error-colour;
}

.textfield__hint {
  color: $secondary-text;
  display: block;
  margin-top: $gutter/2;
}

.textfield__error {
  color: $error-colour;
  margin-top: $gutter/2;
}
