@import "colours";

@font-face {
  font-family: ProximaNova;
  src: url("pnalt-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("pnalt-medium.otf") format("opentype");
}

.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin: 0 0 16px 0;

  @media (min-width: $tablet) {
    font-size: 52px;
    line-height: 56px;
    margin: 0 0 32px 0;
  }
}

h2,
.subtitle-large {
  font-size: 29px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 12px 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 16px 0;
  }
}

h3,
.subtitle-medium {
  font-size: 23px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 16px 0;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 29px;
    line-height: 42px;
    margin: 0 0 16px 0;
    color: $black;
  }
}

h4,
.subtitle-small {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 16px 0;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 23px;
    line-height: 28px;
    margin: 0 0 16px 0;
    color: $black;
  }
}

.shorter-text,
p,
p.short-text {

  font-size: 16px;
  line-height: 16px;
  margin: 0 0 24px 0;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 32px 0;
  }
}

.super-text,
p.super-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px 0;

  @media (min-width: $tablet) {
    font-size: 23px;
    line-height: 36px;
    margin: 0 0 32px 0;
  }
}
