$tablet: 768px;
$desktop: 958px;
$page-width: 1280px;
$gutter: 16px;
$max-width: $page-width - (2 * $gutter);
$col: 89px;
$font-family: ProximaNova;
$corner-radius: 2px;
$base-font-size: 18px;
$base-mobile-font-size: 16px;
$border-radius: 2px;
