<%= render 'back_link' %>

<h1 class="heading-medium">What is the age of the research participant?</h1>

<div class="main-content">
  <%= form_tag nil, method: :put do %>
    <%=
        radio_group_vertical :age,
                             'What is the age of the research participant?',
                             Age.allowed_values,
                             legend_options: { class: 'visually-hidden' }
    %>

    <%= render 'ok_cancel' %>
  <% end %>
</div>
