<h1 class="title">Build a consent form for design research</h1>
<p class="super-text">
  Build a customised consent form for your research project by providing key information
  that this service will use to automatically populate a PDF consent form for you to use
  with research participants.
</p>
<p class="button-bar">
  <%= link_to 'Create new form', {:controller => :research_sessions, :action => :start}, class: 'button'  %>
</p>
