<h1 class="title">Create tailored consent and information forms </h1>
<p class="super-text">
  This tool will guide you through a series of questions. Your answers
  will help generate tailored information sheets and consent forms
  for your project(s).
</p>
<p class="button-bar">
  <%= form_with model: @research_session do %>
    <button class="button" type="submit">Create new form</button>
  <% end %>
</p>
