<div class="main-content">
  <h1 class="page-heading">Create tailored consent and information forms </h1>
  <p class="super-text">
    This tool will guide you through a series of questions. Your answers
    will help generate tailored information sheets and consent forms
    for your project(s).
  </p>

  <%= render 'shared/error_summary' %>

  <%= barnardos_form_with model: @research_session do |form| %>
    <%= form.labelled_text_field :name, text_options: { autofocus: true } %>
    <p class="button-bar">
      <%= form.submit 'Create new form', class: 'button' %>
    </p>
  <% end %>
</div>
