version: 2
jobs:
  build:
    docker:
       - image: circleci/ruby:2.6.0-node-browsers
         environment:
         - RAILS_ENV: test
         - PGHOST: 127.0.0.1
         - PGUSER: root
       - image: circleci/postgres:9.6.2-alpine
         environment:
         - POSTGRES_USER: consent
         - POSTGRES_DB: consent_test
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      - restore_cache:
          keys:
          - yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
          - yarn-packages-{{ .Branch }}
          - yarn-packages-master
          - yarn-packages-
      - run:
          name: install yarn dependencies
          command: yarn install
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/
      - run: bundle exec rake
      - run: bundle exec danger
      - run: bundle exec brakeman --exit-on-warn
