/** @define PrintArea; */

.PrintArea {
  display: grid;
  grid-gap: 2rem;
}

@media print {
  .PrintArea {
    page-break-after: always;
  }

  .PrintArea:not(:first-child) {
    margin-top: 1rem;
  }

  .PrintArea--screenOnly {
    display: none;
  }
}
