/** @define PrintCommand; */

.PrintCommand-button {
  appearance: none;
  background-color: #6aa300;
  border: 0;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem color(#6aa300 shade(30%));
  color: #fff;
  font: 600 1.25rem/1.5rem Nova, sans-serif;
  padding: 0.75rem 3rem;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.PrintCommand-button:hover {
  background-color: color(#6aa300 shade(10%));
}

.PrintCommand-button:active {
  box-shadow: none;
  position: relative;
  top: 0.25rem;
}

.PrintCommand-link {
  font: 300 1rem / 1.5rem system-ui;
}

@media (min-width: 32rem) {
  .PrintCommand-button {
    width: auto;
  }
}

@media print {
  .PrintCommand {
    display: none;
  }
}
