/** @define ErrorSummary; */

.ErrorSummary {
  box-shadow: inset 0 0 0 0.25rem #c30000;
  max-width: 46rem;
  padding: 1rem;
}

.ErrorSummary-title {
  font: 600 1.5rem/1.75rem system-ui;
}

.ErrorSummary-list {
  list-style: none;
  margin-top: 0.5rem;
}

.ErrorSummary-item:not(:first-child) {
  margin-top: 0.5rem;
}

.ErrorSummary-link {
  color: #c30000;
  font: 600 1rem/1.5rem system-ui;
}
