<h1><%= t 'errors.not_found' %></h1>
<p>
  If you'd like to let us know there's been a problem, please <a href="mailto:digital@barnardos.org.uk">email the team</a>.
</p>
<p>
  <%= link_to 'Return to homepage', root_path %>.
</p>
