<p class="button-bar">
  <% if params['edit-preview'] == '1' %>
    <%= hidden_field_tag 'edit-preview', '1' %>
    <%= button_tag 'Save and return', type: :submit, class: 'button' %>
  <% else %>
    <%= button_tag 'Continue', type: :submit, class: 'button' %>
  <% end %>
</p>
