<h1 class="title">Title</h1>
<h2 class="subtitle-large">Subtitle Large</h2>
<h3 class="subtitle-medium">Subtitle Medium</h3>
<h4 class="subtitle-small">Subtitle Small</h4>

<p class="super-text">
  Super-text. Our font sizes are based 1.125 multiplier scale with a base size of 18px for 1 rem.
  The values have been rounded to give whole pixel values. Using sizes from this type scale
  will create visual, as well as hierarchical consistency, throughout our services. Line-heights
  should always be a multiple of 4, this will ensure the copy aligns to the 8px baseline
  grid while allowing more flexibility in setting type than multiples of 8.
</p>

<p>
  Our font sizes are based 1.125 multiplier scale with a base size of 18px for 1 rem.
  The values have been rounded to give whole pixel values. Using sizes from this type scale
  will create visual, as well as hierarchical consistency, throughout our services. Line-heights
  should always be a multiple of 4, this will ensure the copy aligns to the 8px baseline
  grid while allowing more flexibility in setting type than multiples of 8.
</p>

<div class="progress">
  <ol class="progress-bar ">

    <li class="progress__stage is-active">
      <span class="progress__stage-title">Start</span>
    </li>

    <li class="progress__stage is-active">
      <span class="progress__stage-title">Age</span>
    </li>

    <li class="progress__stage">
      <span class="progress__stage-title">Method</span>
    </li>

    <li class="progress__stage">
      <span class="progress__stage-title">Recording</span>
    </li>

    <li class="progress__stage">
      <span class="progress__stage-title">Focus</span>
    </li>

    <li class="progress__stage">
      <span class="progress__stage-title">Name</span>
    </li>

    <li class="progress__stage">
      <span class="progress__stage-title">Incentive</span>
    </li>

    <li class="progress__stage">
      <span class="progress__stage-title">Finish</span>
    </li>
  </ol>
  <p>&nbsp;</p>
</div>
