/** @define Step; */

.Step {
  display: grid;
  grid-gap: 2rem;
}

.Step-backButton {
  box-shadow: inset 0 -0.0625rem 0 0 #1d1d1d;
  color: #1d1d1d;
  font: 300 1rem / 1.5rem system-ui;
  padding: 0 0 0.25rem 1rem;
  position: relative;
  text-decoration: none;
}

.Step-backButton::before {
  border-bottom: 0.3625rem solid transparent;
  border-right: 0.3625rem solid #1d1d1d;
  border-top: 0.3625rem solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0.25rem;
  width: 0;
}

.Step-form {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.Step-formPreview {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
}

.Step-navigation {
  margin-bottom: -1rem;
}

@media (min-width: 60rem) {
  .Step-form {
    grid-template-columns: 1fr 1fr;
  }
}
