// sass-lint:disable no-ids
@import "barnardos/colours";
@import "barnardos/vars";

#global-header {
  margin: $gutter auto;
  max-width: $max-container-width;
  width: 100%;

  > * {
    width: 100%;

    @media (min-width: $tablet) {
      display: inline-block;
      width: 50%;
    }
  }
}

#global-header__logo {
  padding-left: $gutter;
}

#global-header__menu {
  margin-right: $gutter;
}

.global-header-bar {
  border-style: solid;
  border-color: $primary-colour;
  border-width: 4px 0;
  margin: $gutter auto;

  background-color: $black;
}

#main {
  margin: $gutter auto;
  padding: 0 $gutter;
  width: 100%;
  max-width: $max-container-width;
}

#global-footer__release {
  position: fixed;
  background-color: $white;
  right: 0;
  bottom: 0;
  border-top: 1px solid $border;
  border-left: 1px solid $border;
  border-top-left-radius: 3px;
  padding: 3px ($gutter / 2) 5px;

  > label {
    font-size: 80%;
    color: $black;
  }
}

#content {
  margin: 0 auto;
  max-width: $max-content-width;
}
