.research-guidance {
  background: #e3f3cf;
  margin-left: -8px;
  margin-top: 16px;
  padding: 16px 16px 16px 32px;
  position: relative;

  &::before {
    background: #49671e;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
  }

  > p:first-child {
    margin-top: 0;
  }
}
