// sass-lint:disable no-qualifying-elements
@import "barnardos/colours";
@import "barnardos/vars";

@font-face {
  font-family: ProximaNova;
  src: font-url("pnalt-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: font-url("pnalt-medium.otf") format("opentype");
}

h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 56px;
  margin: 48px 0 0 0;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  margin: 32px 0 0 0;
}

h3 {
  font-size: 29px;
  font-weight: bold;
  line-height: 42px;
  margin: 32px 0 0 0;
  color: $black;
}

.super-text {
  font-size: 23px;
  line-height: 36px;
  margin: 16px 0 0 0;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 16px 0 0 0;
}

.nowrap {
  white-space: nowrap;
}

.page-heading {
  font-size: 52px;
  font-weight: bold;
  line-height: 56px;
  margin: 48px 0 0 0;
}

strong {
  font-weight: bold;
}
