.consent-agreement {
  display: block;
  background-color: $grey-medium;
  padding: $gutter;
  margin-top: $gutter * 2;
}

.writing-field {
  display: inline-block;
  margin-top: 32px;
  padding-right: $gutter;

  label {
    display: block;
  }

  .space-for-writing {
    border: 0;
    border-bottom: 1px solid $black;
    margin-top: 32px;
    width: 100%;
  }

  &.name {
    width: 100%;
  }

  &.signature,
  &.date {
    width: 50%;
  }
}
