// sass-lint:disable no-ids

body {
  .button,
  .screen-only,
  #global-footer__release,
  #_hj_feedback_container {
    display: none;
  }
}

.print-area {
  page-break-after: always;
}

section,
p {
  page-break-inside: avoid;
}

